html,
body {
  width: 100%;
  max-width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}
