@layer base {
  @font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/RobotoSlab-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/RobotoSlab-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/RobotoSlab-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/RobotoSlab-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/Nunito-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/Nunito-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(~assets/fonts/Nunito-SemiBold.ttf) format('truetype');
  }
}
